@import 'tailwindcss';

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/fonts/jetbrains-mono.ttf') format('truetype');
	font-weight: 100 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/fonts/jetbrains-mono-italic.ttf') format('truetype');
	font-weight: 100 800;
	font-style: italic;
	font-display: swap;
}

@theme {
	--font-mono:
		'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
}

@custom-variant hocus (&:is(:hover, :focus-visible));
